In [32]:
import numpy as np
import pandas as pd
data=pd.read_csv('car_price_prediction.csv')
data.head()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19237 entries, 0 to 19236
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                19237 non-null  int64
 1   Price             19237 non-null  int64
 2   Levy              19237 non-null  object
 3   Manufacturer      19237 non-null  object
 4   Model             19237 non-null  object
 5   Prod. year        19237 non-null  int64
 6   Category          19237 non-null  object
 7   Leather interior  19237 non-null  object
 8   Fuel type         19237 non-null  object
 9   Engine volume     19237 non-null  object
 10  Mileage           19237 non-null  object
 11  Cylinders         19237 non-null  float64
 12  Gear box type     19237 non-null  object
 13  Drive wheels      19237 non-null  object
 14  Doors             19237 non-null  object
 15  Wheel             19237 non-null  object
 16  Color             19237 non-null  object
 17  Airbags           19237 non-null  int64
dtypes: float64(1), int64(4), object(13)
memory usage: 2.6+ MB

In [33]:
print(data.isnull().sum())
print(data.duplicated().sum())
data=data.drop_duplicates()
print(data.duplicated().sum())

ID                  0
Price               0
Levy                0
Manufacturer        0
Model               0
Prod. year          0
Category            0
Leather interior    0
Fuel type           0
Engine volume       0
Mileage             0
Cylinders           0
Gear box type       0
Drive wheels        0
Doors               0
Wheel               0
Color               0
Airbags             0
dtype: int64
313
0

In [34]:
data['Mileage']=data['Mileage'].str.replace('km','').str.replace(',','').astype(float)
print(data.head())
# print(data['Mileage'].dtype)
# print(data['Engine'].dtype)

         ID  Price  Levy Manufacturer    Model  Prod. year   Category  \
0  45654403  13328  1399        LEXUS   RX 450        2010       Jeep
1  44731507  16621  1018    CHEVROLET  Equinox        2011       Jeep
2  45774419   8467     -        HONDA      FIT        2006  Hatchback
3  45769185   3607   862         FORD   Escape        2011       Jeep
4  45809263  11726   446        HONDA      FIT        2014  Hatchback

  Leather interior Fuel type Engine volume   Mileage  Cylinders Gear box type  \
0              Yes    Hybrid           3.5  186005.0        6.0     Automatic
1               No    Petrol             3  192000.0        6.0     Tiptronic
2               No    Petrol           1.3  200000.0        4.0      Variator
3              Yes    Hybrid           2.5  168966.0        4.0     Automatic
4              Yes    Petrol           1.3   91901.0        4.0     Automatic

  Drive wheels   Doors             Wheel   Color  Airbags
0          4x4  04-May        Left wheel  Silver       12
1          4x4  04-May        Left wheel   Black        8
2        Front  04-May  Right-hand drive   Black        2
3          4x4  04-May        Left wheel   White        0
4        Front  04-May        Left wheel  Silver        4

In [36]:
print(data['Mileage'].dtype)
print(data.info ())

float64
<class 'pandas.core.frame.DataFrame'>
Index: 18924 entries, 0 to 19236
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18924 non-null  int64
 1   Price             18924 non-null  int64
 2   Levy              18924 non-null  object
 3   Manufacturer      18924 non-null  object
 4   Model             18924 non-null  object
 5   Prod. year        18924 non-null  int64
 6   Category          18924 non-null  object
 7   Leather interior  18924 non-null  object
 8   Fuel type         18924 non-null  object
 9   Engine volume     18924 non-null  object
 10  Mileage           18924 non-null  float64
 11  Cylinders         18924 non-null  float64
 12  Gear box type     18924 non-null  object
 13  Drive wheels      18924 non-null  object
 14  Doors             18924 non-null  object
 15  Wheel             18924 non-null  object
 16  Color             18924 non-null  object
 17  Airbags           18924 non-null  int64
dtypes: float64(2), int64(4), object(12)
memory usage: 2.7+ MB
None

In [ ]:
data['Leather interior']=data['Leather interior'].map({'Yes':1,'No':0})
data=data.drop('ID',axis=1)

In [44]:
data['Levy']=data['Levy'].replace('-',0).astype(float)

In [48]:
data['Age']=2025-data['Prod. year']
data.drop('Prod. year',axis=1,inplace=True)

In [50]:
data['Engine volume']=data['Engine volume'].str.replace(r'[^\d.]', '', regex=True).astype(float)

In [53]:
print(data.head(10))

   Price    Levy Manufacturer     Model   Category  Leather interior  \
0  13328  1399.0        LEXUS    RX 450       Jeep               NaN
1  16621  1018.0    CHEVROLET   Equinox       Jeep               NaN
2   8467     0.0        HONDA       FIT  Hatchback               NaN
3   3607   862.0         FORD    Escape       Jeep               NaN
4  11726   446.0        HONDA       FIT  Hatchback               NaN
5  39493   891.0      HYUNDAI  Santa FE       Jeep               NaN
6   1803   761.0       TOYOTA     Prius  Hatchback               NaN
7    549   751.0      HYUNDAI    Sonata      Sedan               NaN
8   1098   394.0       TOYOTA     Camry      Sedan               NaN
9  26657     0.0        LEXUS    RX 350       Jeep               NaN

  Fuel type  Engine volume   Mileage  Cylinders Gear box type Drive wheels  \
0    Hybrid            3.5  186005.0        6.0     Automatic          4x4
1    Petrol            3.0  192000.0        6.0     Tiptronic          4x4
2    Petrol            1.3  200000.0        4.0      Variator        Front
3    Hybrid            2.5  168966.0        4.0     Automatic          4x4
4    Petrol            1.3   91901.0        4.0     Automatic        Front
5    Diesel            2.0  160931.0        4.0     Automatic        Front
6    Hybrid            1.8  258909.0        4.0     Automatic        Front
7    Petrol            2.4  216118.0        4.0     Automatic        Front
8    Hybrid            2.5  398069.0        4.0     Automatic        Front
9    Petrol            3.5  128500.0        6.0     Automatic          4x4

    Doors             Wheel   Color  Airbags  Age
0  04-May        Left wheel  Silver       12   15
1  04-May        Left wheel   Black        8   14
2  04-May  Right-hand drive   Black        2   19
3  04-May        Left wheel   White        0   14
4  04-May        Left wheel  Silver        4   11
5  04-May        Left wheel   White        4    9
6  04-May        Left wheel   White       12   15
7  04-May        Left wheel    Grey       12   12
8  04-May        Left wheel   Black       12   11
9  04-May        Left wheel  Silver       12   18

In [55]:
data['Doors']=data['Doors'].replace(r'[^\d.]','',regex=True).astype(int)

In [ ]:
print(data.info())
print(data)

<class 'pandas.core.frame.DataFrame'>
Index: 18924 entries, 0 to 19236
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Price             18924 non-null  int64
 1   Levy              18924 non-null  float64
 2   Manufacturer      18924 non-null  object
 3   Model             18924 non-null  object
 4   Category          18924 non-null  object
 5   Leather interior  18924 non-null  float64
 6   Fuel type         18924 non-null  object
 7   Engine volume     18924 non-null  float64
 8   Mileage           18924 non-null  float64
 9   Cylinders         18924 non-null  float64
 10  Gear box type     18924 non-null  object
 11  Drive wheels      18924 non-null  object
 12  Doors             18924 non-null  int64
 13  Wheel             18924 non-null  object
 14  Color             18924 non-null  object
 15  Airbags           18924 non-null  int64
 16  Age               18924 non-null  int64
 17  leather_interior  18924 non-null  int64
dtypes: float64(5), int64(5), object(8)
memory usage: 3.2+ MB
None
       Price    Levy   Manufacturer    Model   Category  Leather interior  \
0      13328  1399.0          LEXUS   RX 450       Jeep               0.0
1      16621  1018.0      CHEVROLET  Equinox       Jeep               0.0
2       8467     0.0          HONDA      FIT  Hatchback               0.0
3       3607   862.0           FORD   Escape       Jeep               0.0
4      11726   446.0          HONDA      FIT  Hatchback               0.0
...      ...     ...            ...      ...        ...               ...
19232   8467     0.0  MERCEDES-BENZ  CLK 200      Coupe               0.0
19233  15681   831.0        HYUNDAI   Sonata      Sedan               0.0
19234  26108   836.0        HYUNDAI   Tucson       Jeep               0.0
19235   5331  1288.0      CHEVROLET  Captiva       Jeep               0.0
19236    470   753.0        HYUNDAI   Sonata      Sedan               0.0

      Fuel type  Engine volume   Mileage  Cylinders Gear box type  \
0        Hybrid            3.5  186005.0        6.0     Automatic
1        Petrol            3.0  192000.0        6.0     Tiptronic
2        Petrol            1.3  200000.0        4.0      Variator
3        Hybrid            2.5  168966.0        4.0     Automatic
4        Petrol            1.3   91901.0        4.0     Automatic
...         ...            ...       ...        ...           ...
19232       CNG            2.0  300000.0        4.0        Manual
19233    Petrol            2.4  161600.0        4.0     Tiptronic
19234    Diesel            2.0  116365.0        4.0     Automatic
19235    Diesel            2.0   51258.0        4.0     Automatic
19236    Hybrid            2.4  186923.0        4.0     Automatic

      Drive wheels  Doors             Wheel   Color  Airbags  Age  \
0              4x4      4        Left wheel  Silver       12   15
1              4x4      4        Left wheel   Black        8   14
2            Front      4  Right-hand drive   Black        2   19
3              4x4      4        Left wheel   White        0   14
4            Front      4        Left wheel  Silver        4   11
...            ...    ...               ...     ...      ...  ...
19232         Rear      2        Left wheel  Silver        5   26
19233        Front      4        Left wheel     Red        8   14
19234        Front      4        Left wheel    Grey        4   15
19235        Front      4        Left wheel   Black        4   18
19236        Front      4        Left wheel   White       12   13

       leather_interior
0                     0
1                     0
2                     0
3                     0
4                     0
...                 ...
19232                 0
19233                 0
19234                 0
19235                 0
19236                 0

[18924 rows x 18 columns]

In [65]:
data['Leather interior'] = data['Leather interior'].map({'Yes':1, 'No':0})
data['Leather interior'] = data['Leather interior'].fillna(0)

In [66]:
print(data.info())
print(data)

<class 'pandas.core.frame.DataFrame'>
Index: 18924 entries, 0 to 19236
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Price             18924 non-null  int64
 1   Levy              18924 non-null  float64
 2   Manufacturer      18924 non-null  object
 3   Model             18924 non-null  object
 4   Category          18924 non-null  object
 5   Leather interior  18924 non-null  float64
 6   Fuel type         18924 non-null  object
 7   Engine volume     18924 non-null  float64
 8   Mileage           18924 non-null  float64
 9   Cylinders         18924 non-null  float64
 10  Gear box type     18924 non-null  object
 11  Drive wheels      18924 non-null  object
 12  Doors             18924 non-null  int64
 13  Wheel             18924 non-null  object
 14  Color             18924 non-null  object
 15  Airbags           18924 non-null  int64
 16  Age               18924 non-null  int64
 17  leather_interior  18924 non-null  int64
dtypes: float64(5), int64(5), object(8)
memory usage: 3.2+ MB
None
       Price    Levy   Manufacturer    Model   Category  Leather interior  \
0      13328  1399.0          LEXUS   RX 450       Jeep               0.0
1      16621  1018.0      CHEVROLET  Equinox       Jeep               0.0
2       8467     0.0          HONDA      FIT  Hatchback               0.0
3       3607   862.0           FORD   Escape       Jeep               0.0
4      11726   446.0          HONDA      FIT  Hatchback               0.0
...      ...     ...            ...      ...        ...               ...
19232   8467     0.0  MERCEDES-BENZ  CLK 200      Coupe               0.0
19233  15681   831.0        HYUNDAI   Sonata      Sedan               0.0
19234  26108   836.0        HYUNDAI   Tucson       Jeep               0.0
19235   5331  1288.0      CHEVROLET  Captiva       Jeep               0.0
19236    470   753.0        HYUNDAI   Sonata      Sedan               0.0

      Fuel type  Engine volume   Mileage  Cylinders Gear box type  \
0        Hybrid            3.5  186005.0        6.0     Automatic
1        Petrol            3.0  192000.0        6.0     Tiptronic
2        Petrol            1.3  200000.0        4.0      Variator
3        Hybrid            2.5  168966.0        4.0     Automatic
4        Petrol            1.3   91901.0        4.0     Automatic
...         ...            ...       ...        ...           ...
19232       CNG            2.0  300000.0        4.0        Manual
19233    Petrol            2.4  161600.0        4.0     Tiptronic
19234    Diesel            2.0  116365.0        4.0     Automatic
19235    Diesel            2.0   51258.0        4.0     Automatic
19236    Hybrid            2.4  186923.0        4.0     Automatic

      Drive wheels  Doors             Wheel   Color  Airbags  Age  \
0              4x4      4        Left wheel  Silver       12   15
1              4x4      4        Left wheel   Black        8   14
2            Front      4  Right-hand drive   Black        2   19
3              4x4      4        Left wheel   White        0   14
4            Front      4        Left wheel  Silver        4   11
...            ...    ...               ...     ...      ...  ...
19232         Rear      2        Left wheel  Silver        5   26
19233        Front      4        Left wheel     Red        8   14
19234        Front      4        Left wheel    Grey        4   15
19235        Front      4        Left wheel   Black        4   18
19236        Front      4        Left wheel   White       12   13

       leather_interior
0                     0
1                     0
2                     0
3                     0
4                     0
...                 ...
19232                 0
19233                 0
19234                 0
19235                 0
19236                 0

[18924 rows x 18 columns]